.btn {
  min-width: 145px;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--dark-turquoise-color);

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.active {
    color: var(--dark-turquoise-color);
    background-color: var(--light-turquoise-color);
  }
}
