.calculator {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding: 30px;
  border-radius: 15px;
  background-color: var(--white-color);

  &-left,
  &-right {
    width: 500px;
  }
}
