:root {
  --bg-color: #afe4de;
  --dark-turquoise-color: #1f6263;
  --light-turquoise-color: #35e8c4;
  --turquoise-color: #0e8069;
  --gray-color: #707070;
  --light-gray-color: #d3d3d3;
  --error-color: #e74c3c;
  --white-color: #ffffff;
  --warning-color: #ff8800;
  --xs: 12px;
  --s: 14px;
  --sm: 16px;
  --m: 18px;
  --l: 20px;
  --xl: 24px;
}
